<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.LibraryConnectionString"
            connectionString="Data Source=ASMAA\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.Library_SystemConnectionString"
            connectionString="Data Source=ASMAA\SQLEXPRESS;Initial Catalog=Library_System;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
